@import "@/styles/variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: $nav-height;
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem $section-margin-x;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  @media (min-width: $md) {
    border-bottom: none;
    padding: 1.5rem $section-margin-md;
  }

  @media (min-width: $lg) {
    border-bottom: none;
    padding: 1.5rem $section-margin-lg;
     }

  &__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: $lg) {
      width: 28.5%;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 1.25rem;
  }

  &__toggle {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 80;

    @media (min-width: $lg) {
      display: none;
    }

    &-icon {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__end {
    display: none;

    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 71.5%;
    }
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: 60;

    @media (min-width: $lg) {
      display: none;
    }
  }

  &__aside {
    position: fixed;
    top: $nav-height;
    right: 0;
    height: calc(100vh - #{$nav-height});
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    z-index: 70;

    @media (min-width: 640px) {
      width: 40%;
    }

    @media (min-width: $lg) {
      display: none;
    }
  }
}
