@import "@/styles/variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: $nav-height;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 1rem $section-margin-x;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: hidden;

  @media (min-width: $md) {
    border-bottom: none;
    padding: 1.5rem $section-margin-md;
  }

  @media (min-width: $lg) {
    border-bottom: none;
    padding: 1.5rem $section-margin-lg;
  }

  &__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: $lg) {
      width: 20%;
      max-width: 25rem;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;

    img {
      width: 3rem;
      height: auto;
      display: block;
    }

    span {
      color: $foreground;
    }
  }

  &__toggle {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 80;

    @media (min-width: $lg) {
      display: none;
    }

    &-icon {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 1.5rem;

        &__badge {
          width: 0.8rem;

          @media (min-width: $md) {
            width: 1.5rem;
          }
        }
      }
    }
  }

  &__end {
    display: none;

    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      max-width: 62.56rem;
    }
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: 60;
    overflow: hidden;

    @media (min-width: $lg) {
      display: none;
    }
  }

  &__aside {
    position: fixed;
    right: 0;
    height: calc(100vh - (#{$nav-height}));
    top: $nav-height;
    width: 70%;
    max-width: 320px;
    background-color: #fff;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    z-index: 70;
    overflow-x: hidden;
    overflow-y: auto;

    @media (min-width: 640px) {
      width: 60%;
    }

    @media (min-width: $lg) {
      display: none;
    }
  }
}
