@import "@/styles/variables";

.testimonials__carousel {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 1rem;

  &-inner {
    display: flex;
    gap: 1.5rem;
  }

  &-item {
    min-width: 300px;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  @media (min-width: $md) {
    .item {
      min-width: 350px;
    }
  }

  @media (min-width: $lg) {
    .item {
      min-width: 400px;
    }
  }
}
