.card {
  color: #111;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;

  @media (min-width: $md) {
    flex-direction: row;
  }

  &:nth-child(2),
  &:nth-child(4) {
    @media (min-width: $md) {
      flex-direction: row-reverse;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    @media (min-width: $lg) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    min-height: auto;

    @media (min-width: $md) {
      width: 50%;
      height: auto;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;

    @media (min-width: $md) {
      width: 50%;
      padding: 3rem;
    }

    &-title {
      margin-bottom: 1rem;
    }

    &-list {
      margin-top: 0.5rem;
      padding-left: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      li {
        list-style: disc;
        @include font-size("xs");
        line-height: 1.5;
        transition: color 0.2s ease;
      }
    }

    &-text {
      @include font-size("xs");
    }
  }
}
