@import "@/styles/variables";

.badge {
  padding: 0.25rem 0.5rem;
  @include font-size("xs");
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 60%;

  @media (min-width: $md) {
    @include font-size("md");
    width: 44%;
    padding: 0.75rem;
  }

  @media (min-width: $lg) {
    width: 25%;
    padding: 0.5rem;
  }

  &__text {
    width: 80%;
  }
}