@import "@/styles/variables";

.badge {
  padding: 0.25rem 0.75rem;
  @include font-size("xs");
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 46%;
  max-width: 142px;

  @media (min-width: $md) {
    @include font-size("sm");
    max-width: 240px;
    width: 38%;
    padding: 0.3rem;
  }

  @media (min-width: $lg) {
    gap: 0rem;
    max-width: 320px;
    width: 20%;
    padding: 0.3rem;
  }

  svg {
    width: 0.8rem;

    @media (min-width: $md) {
      width: 1.5rem;
    }
  }

  &__text {
    width: 80%;
  }
}