@import "@/styles/variables";

.footer {
  background-color: #1a1a1a;
  color: #f1f1f1;
  padding: 3rem 1rem 1.5rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    margin: 0 $section-margin-x;

    @media (min-width: $md) {
      margin: 0 $section-margin-md;
      flex-direction: row;
      width: 80%;
    }

    @media (min-width: $lg) {
      margin: 0 $section-margin-lg;
      flex-direction: row;
      width: 70%;
    }
  }

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 0.2rem;
    text-align: center;
  }

  &__text {
    font-size: 0.95rem;
    color: #d1d1d1;
    line-height: 1.5;
    margin-top: 0.5rem;
    text-align: center;
  }

  &__copy {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 2rem;
    padding-top: 1rem;
    width: 100%;

    p {
      font-size: 0.85rem;
      color: #aaa;
    }
  }
}
