$background: #e8e8e8;
$foreground: #303030;
$white: #f8f8f8;
$green: #35ad4b;
$green-dark: #0D681C;
$blue: #22a697;
$green-soft: #36b14e;
$blue-soft: #20aa90;

// Navigation
$nav-height: 5rem;
$nav-padding-x: 1.5rem;
$nav-padding-y: 1rem;
$nav-gap: 0.5rem;

// margin
$section-margin-x: 1.5rem;
$section-margin-md: 3rem;
$section-margin-lg: 6rem;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;

// Sombras
$shadow-base: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 0 25px rgba(0, 0, 0, 0.15);

// Fonts
$font-family-base: "Sora", sans-serif;

// Font Size
$font-sizes: (
  "xs": (mobile: 0.5rem, tablet: 0.75rem, desktop: 1.5rem),   // 12-16px
  "sm": (mobile: 0.875rem, tablet: 1rem, desktop: 1.125rem),   // 14-18px
  "md": (mobile: 1rem, tablet: 1.125rem, desktop: 1.25rem),    // 16-20px
  "lg": (mobile: 1.25rem, tablet: 1.5rem, desktop: 1.75rem),   // 20-28px
  "xl": (mobile: 1.5rem, tablet: 1.875rem, desktop: 2.25rem),  // 24-36px
  "2xl": (mobile: 2rem, tablet: 2.25rem, desktop: 3rem),       // 32-48px
  "3xl": (mobile: 2.5rem, tablet: 3rem, desktop: 4rem),        // 40-64px
);

@mixin font-size($key) {
  $sizes: map-get($font-sizes, $key);

  font-size: map-get($sizes, mobile);

  @media (min-width: $sm) {
    font-size: map-get($sizes, tablet);
  }

  @media (min-width: $lg) {
    font-size: map-get($sizes, desktop);
  }
}