@import "@/styles/variables";

.timeline {
  text-align: center;
  margin: 0 $section-margin-x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;

  @media (min-width: $md) {
    margin: 0 $section-margin-md;
    min-height: auto;
  }

  @media (min-width: $lg) {
    margin: 0 $section-margin-lg;
    min-height: auto;
    gap: 4rem;
  }

  &__title {
    @include font-size("xl");
    font-weight: 700;

    @media (min-width: $md) {
      @include font-size("2xl");
    }
  }

  &__subtitle {
    width: 90%;
    opacity: 0.9;
    @include font-size("sm");

    @media (min-width: $md) {
      width: 80%;
      @include font-size("md");
    }

    @media (min-width: $lg) {
      width: 50%;
      font-size: 1.25rem;
    }
  }
}
