.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem; // Tailwind's gap-8 = 2rem

  @media (min-width: 1024px) {
    // lg breakpoint
    flex-direction: row;
  }
}
