@import "@/styles/variables";

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;

  @media (min-width: $lg) {
    flex-direction: row;
    max-width: 45rem;
  }
}
