@import "tailwindcss";

:root {
  --background: #e8e8e8;
  --foreground: #303030;
  --white: #E9E9E9;
  --green: #35AD4B;
  --blue: #22A697;
  --green-soft: #36B14E;
  --blue-soft: #20AA90;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --font-sans: var(--font-sora);
}

@layer base {
  body {
    @apply font-sans bg-background;
  }
}
