.features {
  position: relative;
  width: 100%;
  background-color: #000;
  padding: 1rem 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
  }

  &__scroller {
    @include font-size("md");
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: $white;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  @media (min-width: $md) {
    padding: 1rem 0;
  }

  @media (min-width: $lg) {
    padding: 1rem 0;
  }
}