@import "@/styles/variables";

.card {
  position: relative;
  width: 90%;
  min-height: 13.75rem;
  border-radius: 1rem;
  background: linear-gradient(to top, $green, $blue);
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  padding: 1rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: $md) {
    padding: 1rem 0.5rem;
    width: 90%;
    min-height: 280px;
  }

  @media (min-width: $lg) {
    padding: 4rem 3rem;
    width: 30%;
    min-height: 260px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    &-icon {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: center;
      border-radius: 0.75rem;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(4px);
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 5rem;  
    }

    &-title {
      @include font-size("xl");
      font-weight: 600;
      color: #000;
      margin-bottom: 0.5rem;

      @media (min-width: $lg) {
        @include font-size("lg");
      }
    }

    &-subtitle {
      @include font-size("sm");
      color: rgba(0, 0, 0, 0.8);

      @media (min-width: $lg) {
        @include font-size("lg");
      }
    }
  }
}
