.section {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem 0;

  @media (min-width: 1024px) {
    padding: 4.5rem 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    gap: 3rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

.subtitle {
  width: 90%;
  opacity: 0.9;
  font-size: 0.75rem;

  @media (min-width: 640px) {
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    width: 70%;
    font-size: 1.25rem;
  }
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    gap: 4rem;
  }
}
