@import "@/styles/variables";

.section {
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;

  @media (min-width: $md) {
    margin: 0 $section-margin-md;
    min-height: auto;
  }


  @media (min-width: $lg) {
    margin: 0 $section-margin-lg;
    min-height: auto;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    @media (min-width: $lg) {
      gap: 3rem;
    }

    &-title {
      @include font-size("lg");
      font-weight: 700;

      @media (min-width: 768px) {
        font-size: 2.25rem;
      }
    }


    &-subtitle {
      width: 90%;
      opacity: 0.9;
      @include font-size("sm");

      @media (min-width: $sm) {
        font-size: 1.125rem;
      }

      @media (min-width: $md) {
        width: 70%;
        font-size: 1.25rem;
      }
    }

    &-featuresList {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      list-style: none;
      padding: 0;
      margin: 0;

      @media (min-width: $md) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
      }

      @media (min-width: $lg) {
        gap: 2rem;
      }
    }
  }
}