@import "@/styles/variables";

.section {
  min-height: 100vh;
  display: flex;

  @media (min-width: $md) {
    margin: 0 $section-margin-md;
    min-height: auto;
  }

  @media (min-width: $lg) {
    margin: 0 $section-margin-lg;
    min-height: auto;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;

    @media (min-width: $lg) {
      gap: 4rem;
    }

    &-title {
      @include font-size("xl");
      font-weight: 700;

      @media (min-width: $md) {
        @include font-size("2xl");
      }
    }

    &-subtitle {
      width: 90%;
      opacity: 0.9;
      @include font-size("sm");

      @media (min-width: $md) {
        width: 80%;
        @include font-size("md");
      }

      @media (min-width: $lg) {
        width: 50%;
        font-size: 1.25rem;
      }
    }

    &-featuresList {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      list-style: none;
      padding: 0;
      margin: 0;

      @media (min-width: $md) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
      }

      @media (min-width: $lg) {
        gap: 2rem;
        justify-content: space-between;
        gap: 2rem;
      }
    }
  }
}
