@import "@/styles/variables";

.hero {
  margin-top: $nav-height;
  height: calc(100vh - #{$nav-height});
  box-sizing: border-box;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  position: relative;
  gap: 2rem;

  &__background {
    flex: 1;
    min-height: 70%;
    height: 80%;
    color: $foreground;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 $section-margin-x;
    position: relative;
    overflow: hidden;

    @media (min-width: $md) {
      margin: 0 $section-margin-md;
    }

    @media (min-width: $lg) {
      margin: 0 $section-margin-lg;
    }
  }

  &__image {
    filter: brightness(0.25);
    border-radius: 0.75rem;
  }

  &__content {
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 90%;

    @media (min-width: $sm) {
      gap: 3.5rem;
      height: 98%;
    }

    @media (min-width: $md) {
      gap: 4.5rem;
    }
  }

  &__title {
    @include font-size("2xl");
    font-weight: 700;
    line-height: 1.2;
    width: 90%;
    color: white;

    @media (min-width: $md) {
      @include font-size("2xl");
      width: 90%;
    }

    @media (min-width: $lg) {
      @include font-size("2xl");
      min-width: 780px;
      width: 60%;
    }
  }

  &__subtitle {
    @include font-size("sm");
    width: 80%;
    opacity: 0.9;
    color: white;

    @media (min-width: $md) {
      @include font-size("md");
      width: 90%;
    }

    @media (min-width: $lg) {
      width: 60%;
      @include font-size("md");
    }
  }
}
