@import "@/styles/variables.scss";

.button {
  position: relative;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  overflow-x: hidden;
  background: linear-gradient($green, $blue);
  border: 1px solid $white;

  &__background {
    position: absolute;
    border-radius: 0.75rem;
  }

  &__shadow {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    pointer-events: none;
  }

  &__text {
    position: relative;
    z-index: 1;
    color: $white;
  }

  @media (min-width: $md) {
    padding: 0.8rem 2rem;
    @include font-size("md");
  }

  @media (min-width: $lg) {
    padding: 0.5rem 2rem;
    border-radius: 2.5rem;
  }
}